.imgurTool {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  .uplodeArea {
    margin-top: 32px;
    input {
      height: 34px;
      width: 400px;
      border-radius: 10px;
      border-color: #8ec3b0;
      border-width: 3px;
      border-style: solid;
      background-color: #fefefe;
    }
    input[type="file"]::file-selector-button {
      height: 34px;
      width: 140px;
      margin-right: 9px;
      border: #9ed5c5;
      background: #8ec3b0;
      font-size: 16px;
      font-weight: bold;
      border-radius: 5px;
      color: #fefefe;
      cursor: pointer;
    }
    .uplodeBtn {
      margin-left: 8px;
      height: 32px;
      width: 140px;
      border: #9ed5c5;
      background: #8ec3b0;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
      font-size: 16px;
      font-weight: bold;
      border-radius: 5px;
      color: #fefefe;
      cursor: pointer;
    }
  }
  .mainBtn {
    margin-top: 24px;
    margin-left: 24px;
    height: 70px;
    width: 280px;
    border: #9ed5c5;
    background: #8ec3b0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    color: #fefefe;
    cursor: pointer;
  }
}
